@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --rojo-sl: #ec212d;
    --azul-sl:  #273b56;
    --azul-alt: #2c3e50;
    --whatsapp: #25d366;
    --phone: #3276c9;
    --netflix: #d81f26;
    --youtube: #ff0000;
    --prime-vide: #00a5e2;
    --hbo-max: #991eeb;
    --disney-plus:  #0d2e6f;
    --star-plus: #ec5d2b;
    --paramount-plus: #0064ff;
    --azul-iseta: #140B5C;
    --azul-osc-iseta: #0F0844;
    --instagram: #E1306C;
    --facebook: #4267B2;
    --gris-fondo-tabla: #fff5;
    --gris-header-tabla: #fff4;
    --gris-body-tabla: #fffb;
    --gris-titulo: #d5d1defe;
    --gris-hover: #fff6;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



body {
    
    min-height: 100vh;
    overflow-X: hidden;
    display: flex;
    flex-direction: column;
    z-index: 0;
}



/*------------------------------------------------------- L O G I N , R E G I S T R O , C O N T R A S E Ñ A  --------------------------------------------------------*/

#logeo {
    background: linear-gradient(150deg, #5872d16d, black), url(/img/Estudiar-en-casa--1024x576.jpg);
    height: 100vh;
    background-size: cover;
}

.login {
    position: relative;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}



form .logo {
    text-align: center;
    font-family: 'Openface';
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--azul-osc-iseta)
}

  .container form .title:before{
    content: '';
    position: absolute;
    height: 4px;
    width: 33px;
    left: 0px;
    bottom: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #99004d 0%, #ff0080 100%);
}


.titulo-login h1 {
    font-size: 25px;
    font-weight: 600;
    position: relative;
    padding-left: 23px;
    margin: 20px 0 10px 0;
}

.titulo-login h1::before, .titulo-login h1::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: linear-gradient(to right, skyblue 0%, #0F0844 100%);
    left: 0;
    top: 10px;
    border-radius: 50%;
}

.titulo-login h1::after {
    animation: pulse 1.3s infinite;
}

@keyframes pulse {
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.7);
        opacity: 0;
    }
}

.titulo-login p {
    color: #626060eb;
    font-size: 13px;
}

.login form {
    padding: 0 40px;
    box-sizing: border-box;
}


.usuario {
    position: relative;
    
    margin: 30px 0;
}

.usuario-perfil {
    position: relative;
    margin: 30px 0;
}


.dni{
    position: relative;
    
    margin: 30px 0;
}

.contraseña{
    position: relative;
    
    margin: 30px 0;
    display: flex;
}

.login form .underline::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ccc;
    left: 0;
    bottom: 0;
}

.login form .underline::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, skyblue 0%, #0F0844 100%);
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease;
}

.login form .input-box input:focus ~ .underline::after,
.login form .input-box input:valid ~ .underline::after{
  transform: scaleX(1);
  transform-origin: left;
}

.login form .button {
    margin: 40px 0 20px 0;
}

.login .input-box input[type="submit"]{
    background: linear-gradient(to right, skyblue 0%, #0F0844 100%);
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    width: 100%;
    height: 40px;
  }

  .login .input-box input[type="submit"]:hover{
    letter-spacing: 1px;
    background: linear-gradient(to left, skyblue 0%, #0F0844 100%);
}


.usuario input{
    width: 100%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.dni input{
    width: 100%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.contraseña input{
    width: 100%;
    padding: 0 5px;
    height: 45px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance: textfield; }


.contraseña label {
    position: absolute;
    top: 50%;
    left: 5px;
    color:#adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}


.retroceder {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: rgba(255, 0, 0, 0.334);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.retroceder a {
    color: white;
}

.retroceder:hover {
    background: red;
}


.inicio-sesion {
    margin-top: 20px
}



.etiquetas a {
    padding-top: 10px;
    color: #551A8B
}

.etiquetas a:hover {
    color: #0734CF;
}



form div {
    margin-bottom: 10px;
}


.contraseña-token{
    margin: 20px 0;
    width: 100%;
}

.contraseña-token input{
    width: 100%;
    height: 35px;
    text-align: left;
    font-size: 16px;
    background: none;
    outline: none;
    text-align: center;
    border: 2px solid #adadad;
    border-radius: 5px;
    margin-left: 3px;
}

.contraseña-token input:hover {
    border: 2px solid #140B5C;
}
