/*----------------------------------------------- T A B L A   ------------------------------------------------------*/


#fondo-estudiantes {
    background: linear-gradient(150deg, #5872d16d, rgba(175, 222, 252, 0.44));
    background-size: cover;
}

main {
    position: relative;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*------------------------------------------- P   E   R   F   I   L  -------------------------------------------------------------*/

section.perfil {
    margin: 20px 0 20px 0;
    width: 92vw;
    background: var(--gris-fondo-tabla);
    backdrop-filter: blur(7px);
    box-shadow: 2px 2px 4px 0 rgb(20, 20, 20, 0.3);
    border-radius: .8rem;
    overflow: hidden;
}

.perfil_header {
    width: 100%;
    height: 10%;
    background: var(--gris-header-tabla);
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

.perfil_body {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 100%;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.shadow {
    box-shadow: 2px 2px 4px 0 rgb(20, 20, 20, 0.3);
}


.perfil_one, .perfil_second, .perfil_third {
    display: flex;
    flex-direction: column;
    height: 600px;
    padding: 15px;
    height: auto;
    width: 95%;
    color: #000;
    border-radius: .6rem;
    background: var(--gris-body-tabla);
    margin-bottom: 20px;
}

.perfil_header h1 {
    font-size: 24px;
    margin-left: 15px;
}

.perfil_body h2 {
    font-size: 21px;
}

.perfil_subtop {
    
    padding-bottom: .8rem;
    display: flex;
    align-items: center;
}

.perfil_dataname {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 1px solid;
}

.perfil_datainfo {
    color: rgb(75, 74, 74);
    font-weight: 500;
}

.perfil_password {
    position: relative;
    width: 100%;
    
    height: 50px;
}
.perfil_password input {
    position: relative;
    /* width: 50%; */
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
    outline: none;
    font-size: 15px;
}

.perfil_password i {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5%;
    bottom: 60%;
    transform: translateY(50%);
}

.perfil_password i.check_pos {
    color: var(--verde-2);
    
}

.perfil_password i.check_neg {
    color: var(--rojo-sl);
    display: none;
}

.perfil_password_refresh {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 17px;
}

.perfil_descargable {
    height: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
}

.perfil_descargable a, .perfil_descargable button, .perfil_password_refresh button {
    width: 120px;
    height: 40px;
    background: var(--azul-iseta);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.perfil_descargable a:hover, .perfil_descargable button:hover, .perfil_password_refresh button:hover {
    background: var(--facebook);
}

.perfil_descargable i, .perfil_password_refresh i {
    padding-right: 10px;
}

.nuevo_alumno, .quitar_filtro, .buscar_filtro {
    background: var(--azul-iseta);
    color: white; 
    font-size: 500;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }

.btn_edit {
    background: var(--azul-iseta);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 6px;
}

.btn_edit:hover, .btn_borrar:hover {
    background: var(--facebook);
}

/*------------------------------------------- T   A   B   L   A   -------------------------------------------------------------*/

section.table {
    margin: 20px 0 20px 0;
    width: 92vw;
    background: var(--gris-fondo-tabla);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background: var(--gris-header-tabla);
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
}

.table__body {
    width: 95%;
    /* max-height: calc(89% - 1.6rem); */
    background: var(--gris-body-tabla);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

thead th {
   /* position: sticky; */
    top: 0;
    left: 0;
    background: var(--gris-titulo);
}

tbody tr:nth-child(even) {
    background: #0000000b;
}

tbody tr:hover {
    background: var(--azul-iseta);
    color: white;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.table h1 {
    font-size: 24px;
}

th {
    font-size: 16px;
}

/*------------------------------------------- E   S   T   A   D   0   ------------------------------------------------------------*/

.status {
    background: var(--rojo-sl);
    padding: .4rem;
    border-radius: 10px;
    text-align: center;
    width: 100px;
}

.status.aprobada {
    background: #86e49d;
    color: #006b21;
}

.status.cursando {
    background: #e4e186;
    color: #6b6200;
}

.status.recursar {
    background: #e48686;
    color: #6b0000;
}


/*------------------------------------------- F   I   L   T   R   A   R   ------------------------------------------------------------*/
 .promedio {
    display: flex;
    
    align-items: center;
    margin-right: 20px; 
    padding: 0 10px;
    background-color: var(--gris-header-tabla);
    height: 40px;
    width: 145px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.contenedor_select_carrera {
    position: relative;
}

.select-carrera {
    position: relative;
    border: none;
    outline: none;
    width: auto;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.tabla_botonera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor_ordenar, .contenedor_filtrar, .contenedor_filtrado {
    font-size: 13px;
}

.filtrar, .ordenar {
    position: relative;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    border: none;
    outline: none;
    width: 180px;
    height: 40px;
    margin: 0 20px 0 10px;
    font-size: 13px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding-left: 10px;
    border-radius: 5px;
}

.ordenar {
    width: 150px;
}

.i_filtrar, .i_ordenar {
    color: #000;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.contenedor_filtrado {
    position: relative;
    width: 180px;
}

.filtrado-busqueda {
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #191919;
    padding: 15px;
    width: 100%;
    height: 40px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.contenedor_btn-busqueda {
    margin-left: 15px;
}

.btn-buscador {
    border: none;
    cursor: pointer;
    background-color: var(--gris-header-tabla);
    height: 40px;
    width: 75px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-weight: 600;
}

.btn-buscador:hover {
    background: var(--azul-iseta);
    color: white;
}

.i_lupa {
    color: #000;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .i_borrar {
    color: #000;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 12px;
    bottom: 50%;
    transform: translateY(50%);
  }

/*-------------------------------------------   L   L   A   M   A   D   O   S   ----------------------------------------------------*/


/* ---------------------------------------------------
----- BORRADO
-----
-----   .llamado_1 input[type="radio"], .llamado_2 input[type="radio"] {
-----       display: none;
-----   }
-----
--------------------------------------------------- */


.llamado_1 label, .llamado_2 label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    height: 40px;
    width: 80px;
    padding-left: 30%;
    cursor: pointer;
   
}

.llamado_1 label::before, .llamado_2 label::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border: 2px solid var(--azul-iseta);
    border-radius: 50%;
    cursor: pointer;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.llamado_1 input[type="radio"]:checked + label, .llamado_2 input[type="radio"]:checked + label  {
    background: var(--azul-iseta);
    color: white;
}

.llamado_1 input[type="radio"]:checked + label::before, .llamado_2 input[type="radio"]:checked + label::before {
    height: 9px;
    width: 9px;
    border: 3px solid white;
    background: var(--whatsapp);
}


/*------------------------------------------- I   N   S   C   R   I   P   C   I   O   N   ----------------------------------------------------*/

.boton-finales {
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

button.inscribir {
    background: var(--whatsapp);
}

button.inscribir:hover {
    background: green;
}

button.bajarse {
    background: var(--rojo-sl);
}

button.bajarse:hover {
    background: red;
}

/*--------------------------------------------- R  E  M  A  T  R  I  C  U  L  A  C  I  O  N  -----------------------------------------*/

.style_hover:hover {
    background: var(--facebook);
    color: white;
}

.ver-equiv:hover {
    text-decoration: underline;
}

.box-sh {
    box-shadow: 0 .4rem .8rem #0005;
    background: var(--gris-body-tabla);
}
