.admin-aside {
    position: fixed;
    width: 20%;
    height: auto;
    background: white;
    min-height: 100vh;
    box-shadow: 0 .4rem .8rem #0005;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.logo-iseta {
    font-family: 'Openface';
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.1em;
    color: var(--azul-iseta);
    padding: 10px;
}

.admin-aside ul {
    font-size: 20px;
    padding: 10px 0;
}

.admin-aside ul li {
    transition: all 0.5s ease;
    padding: 5px 5px 5px 10px;
    margin-right: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.admin-aside ul li:hover {
    background-color: var(--azul-iseta);
    color: white;
    
}

.admin-aside ul li a {
    color: var(--azul-iseta);
    font-weight: 500;
}

.admin-aside ul li:hover a {
    color: white;
}

.admin-aside hr {
    border: 1px solid var(--azul-iseta);
}

.aside-end {
    position: absolute;
    bottom: 0;
    width: 100%;
}
