@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --rojo-sl: #ec212d;
    --azul-sl:  #273b56;
    --azul-alt: #2c3e50;
    --whatsapp: #25d366;
    --phone: #3276c9;
    --netflix: #d81f26;
    --youtube: #ff0000;
    --prime-vide: #00a5e2;
    --hbo-max: #991eeb;
    --disney-plus:  #0d2e6f;
    --star-plus: #ec5d2b;
    --paramount-plus: #0064ff;
    --azul-iseta: #140B5C;
    --azul-osc-iseta: #0F0844;
    --instagram: #E1306C;
    --facebook: #4267B2;
    --gris-fondo-tabla: #fff5;
    --gris-header-tabla: #fff4;
    --gris-body-tabla: #fffb;
    --gris-titulo: #d5d1defe;
    --gris-hover: #fff6;
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: black;
    background: linear-gradient(150deg, #5872d16d, white);
    background-size: cover;
}

body.active {
    background: linear-gradient(150deg, #181818, black);
    color: white;
    transition: all 0.5s ease;
}

.admin-main{
    display: flex;
    height: 100%;
}

body div{
    width: 100%;
    padding: 15px;
}

.admin-main aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hhh {
    background-color: var(--gris-titulo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 70px;
    border-radius: 10px;
}

.alumnos_filtrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


div.table {
    margin: 20px 0 20px 0;
    background: var(--gris-fondo-tabla);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}


thead th {
    top: 0;
    left: 0;
    background: var(--gris-titulo);
    text-align: left;
 }

.table__body {
    width: 100%;
    background: var(--gris-body-tabla);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

tbody tr:nth-child(even) {
    background: #0000000b;
}

tbody tr:hover {
    background: var(--gris-hover);
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}
