@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --rojo-sl: #ec212d;
    --azul-sl:  #273b56;
    --azul-alt: #2c3e50;
    --whatsapp: #25d366;
    --phone: #3276c9;
    --netflix: #d81f26;
    --youtube: #ff0000;
    --prime-vide: #00a5e2;
    --hbo-max: #991eeb;
    --disney-plus:  #0d2e6f;
    --star-plus: #ec5d2b;
    --paramount-plus: #0064ff;
    --azul-iseta: #140B5C;
    --azul-osc-iseta: #0F0844;
    --instagram: #E1306C;
    --facebook: #4267B2;
    --gris-fondo-tabla: #fff5;
    --gris-header-tabla: #fff4;
    --gris-body-tabla: #fffb;
    --gris-titulo: #d5d1defe;
    --gris-hover: #fff6;
    --dark: #181818;
    --dark2: #212121;
    --dark3: #323232;
}

* {
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


body {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: black;
    background: linear-gradient(150deg, #5872d16d, white);
    background-size: cover;
}

body.active {
    background: linear-gradient(150deg, #181818, black);
    color: white;
    /*transition: all 0.5s ease;*/
}

.admin-main{
    display: flex;
    height: 100%;
}



/* body div{
    width: 100%;
    padding: 15px;
}  */

.admin-main aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor_top {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 70px;
    border-radius: 10px;
}

.nuevo_alumno, .quitar_filtro, .buscar_filtro {
    background: var(--azul-iseta);
    color: white; 
    font-size: 500;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }

  .nuevo_alumno::after, .quitar_filtro::after {
    content: "";
    background: var(--facebook); 
    position: absolute;
    z-index: -1;
    padding: 15px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .nuevo_alumno:hover::after, .quitar_filtro:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

.alumnos_filtrar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    margin: 20px 0 20px 0;
    background: var(--gris-fondo-tabla);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table.active {
    background: var(--dark2);
}

thead th {
    top: 0;
    left: 0;
    background: var(--gris-titulo);
    text-align: left;
 }

.table__body {
    width: 100%;
    background: var(--gris-body-tabla);
    border-radius: .6rem;
    overflow: auto;
}

table.active {
    background-color: var(--azul-alt);
}

tbody tr:nth-child(even) {
    background: #0000000b;
}

tbody tr:hover {
    background: var(--gris-hover);
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

.contenedor_filtrar, .contenedor_ordenar {
    position: relative;
}

.filtrar, .ordenar {
    position: relative;
    outline: none;
    width: 180px;
    height: 40px;
    
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.btn-buscador {
    border: 1px solid black;
    outline: none;
    background-color: var(--gris-header-tabla);
    height: 40px;
    width: 180px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.btn_edit {
    background: var(--azul-iseta);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 6px;
}

.btn_edit:hover, .btn_borrar:hover {
    background: var(--facebook);
}

.btn_borrar {
    background: var(--azul-iseta);
    color: white;
    width: 80px;
    height: 40px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

/*---------------------------------------------- E  D  I  T ---------------------------------------------------------------*/

.nwt {
    display: flex;
}

.table .perfil_dataname {
    display: flex;
    width: 100%;
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.campo_info { 
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
}

.upd {
    display: flex;
    justify-content: end;
    margin: 10px;
}

.upd input {
    justify-content: center;
}

.perfil_subtop {
    padding-bottom: .8rem;
    display: flex;
    align-items: center;
}

.perfil_one {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: auto;
    color: #000;
    border-radius: .6rem;
    background: var(--gris-body-tabla);
    margin-bottom: 20px;
}

.table__header {
    width: 100%;
    height: 10%;
    background: var(--gris-header-tabla);
    padding: .8rem 1rem;
    display: flex;
}

.table__header p {
    text-align: center;
}
