.admin-main{
    padding: 1em;
    display: flex;
}

.admin-main aside{
    width: 25%;
}

.admin-main div{
    width: 75%;
}


.admin-main aside ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}